body {
    background-color: #00008b;
}

div.login-container {
    background-color: #FFFFFF;
    text-align: center;
    position: absolute;
    left: 40%;
    top: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 220px;
    border-radius: 8px;
}

input {
    width: 200px;
}

/*some garbled mess from merge failure, but it works??*/
<<<<<<<
HEAD:login_css.css
h1 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

=======
> >>> > a7ff2d3b845de76db0be1a8d0d360b32fe1e5af2:res /css/ login_css.css
> 