html, body {
margin: 0;
padding: 0;
background-color: #00008b;
}

nav {
display: flex;
background-color: #ffffff;
align-items: center;
}
nav div{
height: 30px;
flex-grow: 4;
padding: 10px;
}
nav div.search-container > input {
box-sizing: border-box;
position: absolute;
left: 40%;
height: 30px;
width: 20%;
margin: 0px;
padding: 5px;
border: 1px solid #e0e0e0;
}
nav div.search-container > button {
box-sizing: border-box;
position: absolute;
left: 60%;
height: 30px;
width: 5%;
margin: 0px;
padding: 5px;
border: 1px solid #000000;
cursor: pointer;
background-color: #595981;
border-radius: 8px;
}