html, body {
    margin: 0;
    padding: 0;
    background-color: #00008b;
}


nav {
    display: flex;
    background-color: #ADD8E6;
    align-items: center;
    position: fixed;
    top : 0;
    width: 100%;
    z-index: 1000;
}
nav div{
    height: 30px;
    flex-grow: 4;
    padding: 10px;

}
nav div img {
    height: 100%;
}

#searchbox {
    box-sizing: border-box;
    position: absolute;
    left: 40%;
    height: 30px;
    width: 20%;
    margin: 0px;
    padding: 5px;
    border: 1px solid #e0e0e0;
}

nav div.search-container > button {
    box-sizing: content-box;
    position: absolute;
    left: 60%;
    height: 15px;
    width: 5%;
    margin: 0px;
    padding: 5px;
    border: 3px solid #000000;
    cursor: pointer;
    background-color: #595981;
    border-radius: 8px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 30px auto;
}
section div.content-container{
    flex-grow: 10;
    background-color: #FFFFFF;
    display: block;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 8px;
}

button:hover{
    background-color: #00008b;
    color: yellow;
    border-radius: 8px;
}

.timestamp{
    float: right;
    margin: 15px;
}

.prof-icon{
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 50%;
}

.caption{
    margin: 5px;
    font-weight: normal;
    font-size: large;
}

.content-img ~ .caption {
    font-weight: bold;
}

.like{
    margin: 5px;
    border-radius: 8px;
    display: block;
}

br + button{
    background-color:#8cdae7;
}

.content-img{
    display: block;
    width: 500px;
}

footer {
    position: fixed;
    text-align: center;
}

.tooltip {
    text-decoration:none;
    position:relative;
  }
 
.tooltip span {
    display:none;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    color:black;
    background:white; 
}

.tooltip span img {
    float:left;
    margin:0px 8px 8px 0;
}

.tooltip:hover span {
    display:block;
    position: absolute;
    line-height: 0%;
    white-space: nowrap;
    top:0;
    left:0;
    z-index:1000;
    width:auto;
    border:1px solid black;
    margin-top:12px;
    margin-left:32px;
    overflow:hidden;
    padding:8px;
}
.user{
    position: absolute;
    right: -30px;
    top: -10px;
    width: 100px;
    height: 50px;
}
.userinfo{
    inline-size: fit-content;
    background-color: #e0e0e0;
    right:-100px;
    display: none;
}